.app {
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: #1e1e1e;
}
.login {
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: #fff;
}
.link {
  text-decoration: none;
  color: #1a1a1a;
}

.link:hover {
  text-decoration: none;
  color: #1a1a1a;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar-content {
  padding: 20px;
}
.snippets {
  max-height: 45vh;
  width: 100%;
  overflow-y: scroll;
}

.sidebar-footer {
  padding: 20px;
  margin-bottom: 30px;
}

.create-snippet {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.code-editor {
  width: 78vw;
  min-height: 100vh;
  margin-left: 20vw;
}
.npm__react-simple-code-editor__textarea {
  border: none;
  outline: none;
}
.npm__react-simple-code-editor__textarea :focus-visible {
  border: none;
  outline: none;
}
.label-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.controlButtons {
  width: 60%;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 9999999;
}
.saveButton {
  text-align: center;
  margin: 5px;
}
.removeButton {
  text-align: center;
  margin: 5px;
}

.snippetName {
  position: absolute;
  width: 200px;
  height: auto;
  color: white;
  top: 0px;
  right: 0;
}

@media (max-width: 1900px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .code-editor {
    width: 78vw;
    min-height: 100vh;
    margin-left: 18vw;
  }
}

@media (max-width: 1400px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .code-editor {
    width: 78vw;
    min-height: 100vh;
    margin-left: 22vw;
  }
}

@media (max-width: 1400px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .code-editor {
    width: 65vw;
    min-height: 100vh;
    margin-left: 30vw;
  }
}

@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .code-editor {
    width: 55vw;
    min-height: 100vh;
    margin-left: 45vw;
  }
}
