.app {
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  height: 100vh;
  z-index: 999;
}

.sidebar-content {
  padding: 20px;
}

.code-editor {
  width: 82vw;
  min-height: 100vh;
  margin-left: 18vw;
}
